<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>


<h1>THP Gossips</h1>

<% @gossips.each do |gossip| %>

  <h2><%= gossip.anonymous_author %></h2>
  <p><%= gossip.content %></p>
  <p><a href="<%= gossip_path(gossip.id) %>" class="btn btn-primary">Show Gossip</a></p>

<% end %>

<p><a href="<%= new_gossip_path %>" class="btn btn-default">Try Gossiping URself</a></p>
